build-docker-image:
  stage: build
  image: registry.ddbuild.io/docker:27.3.1@sha256:8f2ede6143d416c64a9a1fb8fcc20b4b535b98a79d02fb4f76c327425d2681bd
  tags:
    - arch:amd64
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - IMAGE_REF="registry.ddbuild.io/agent-sandbox/agent-sandbox-controller:${CI_COMMIT_TAG}"
    - METADATA_FILE=$(mktemp)
    - |
      docker buildx build --platform linux/amd64,linux/arm64 \
        --tag "$IMAGE_REF" \
        --file images/agent-sandbox-controller/Dockerfile \
        --build-arg BASE_IMAGE=registry.ddbuild.io/images/base/gbi-ubuntu_2204:release \
        --label target=prod \
        --label CI_PIPELINE_ID="$CI_PIPELINE_ID" \
        --label CI_JOB_ID="$CI_JOB_ID" \
        --metadata-file "$METADATA_FILE" \
        --push \
        .
    - ddsign sign "${IMAGE_REF}" --docker-metadata-file "${METADATA_FILE}"
